<h1>Add Contact</h1>

<p>Add a contact here:</p>

<form action="/contacts" method="post">
  <div>
    <label for ="first_name">Contact's First Name:</label>
    <input id ="first_name" name="first_name" type ="text"></input>
  </div>

  <div>
    <label for="last_name">Contact's Last Name</label>
    <input id="last_name" name="last_name" type="text"></input>
  </div>

  <button type="submit">Add Contact</button>
</form>
