<h1>Add Contact</h1>

<p>Add a contact here:</p>

<form action="/contacts" method="post">
 <label for ="name">Contact's name:</label>
 <input id ="name" name="name" type ="text"></input>
 <label for="birth_month">Contact's Birth Month</label>
 <input id="birth_month" name="birth_month" type="text"></input>
 <button type="submit">Add Contact</button>
</form>
